[wireshark]
.config/wireshark/

[mac]
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

[fish]
*.swp
config/fish/fish_history
config/fish/fishd.*
config/fish/functions/testbox_aws.fish
config/fish/functions/*_aws.fish
config/beets/library.db

# General
venv
.idea
log/
*.log
